.searchPage{ 
    width: 100vh;
}
.searchPage__header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 3%;
    border-bottom: 1px solid lightgray;
    width: 100vw;
    
}

.searchPage__logo{
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}


.searchPage__headerBody > .search {
    width: 50%;
  
}
.searchPage__headerBody > .search > .search__input {
    margin-top: 0;
    width:  unset;
    margin: unset;
    max-width: unset;
}

.searchPage__options{
    display: flex;
    align-items: center;
    color: gray;
    transform: translateX(-5%);
    width: 70vw;
}

.searchPage__optionsLeft, 
.searchPage__optionsRight{
    display: flex;
   
}

.searchPage__optionsLeft a, 
.searchPage__optionsRight a{
    text-decoration: none;
    color: gray;
  
}

.searchPage__optionsRight{
    margin-left: 30%;
}

.searchPage__option{
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.searchPage__option a{
    margin-left: 5%;
}

.searchPage__optionsRight .searchPage__option{
    margin-right: 20%;
}
.searchPage__results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.searchPage__resultCount{
    color: #70757a;
    font-size: 14px;
}
.corpus{
    width: 65vw;
}


/* ads block*/

.ads{
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    padding: 20px ;
    font-size: 14px;
    min-width: 341px;
    width: 30%;
    float: right;

}
.ads h2{
    color: rgba(0,0,0,.87);
    line-height: 1.2;
    font-family: arial,sans-serif-light,sans-serif;
    font-size: 30px;
    font-weight: normal;
    word-wrap: break-word;
    margin: 0px 0 10px 0px;
}

.ads_body{
    display: flex;
   
   
}
.header{
    
    align-content: space-between;
    
}
.header .ads__image{
    height: 50px;
    margin-left: 50px;
}
.corpusads{
    padding: 0 10px 0 0 !important;
min-height: 48px;
}
.title__ads{
    font-size: 16px;
    line-height: 1.375;
    color: #1a0dab !important;
}

.description__ads{
    font-size: 14px;
    line-height: 1.430000;
}
.likeads{
    color: gray;
    cursor: pointer;
}
.likeads:hover{
    color: #5d5dad
}

/*result block*/
.searchPage__result{
    margin: 40px 0; 
    width: 40%;
 }

 .searchPage__resultImage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
 }

 .searchPage__resultTitle{
     text-decoration: none;
 }
 .searchPage__resultTitle:hover{
    text-decoration: underline;
}
.searchPage__resultTitle > h2{
    font-weight: 500;
}
.searchPage__resultSnippet{
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .ads{
        float: none;
        margin-top: 10px;
        padding: 10px;
    }
    .searchPage__result{
        margin: 40px 0; 
        width: 80vw;
     }
    .searchPage__logo{
        object-fit: contain;
        height: 40px;
        margin-right: 30px;
    }
    .searchPage__headerBody > .search input{
        width: 20%;
    }
    .searchPage__headerBody > .search {
         width: 55vw; 
         min-width: 55vw;
    }
    .searchPage__options{
        display: block;
        color: gray;

    }
   
    .searchPage__optionsRight{
        margin: 10px 5px 0 5px;
    }

    .searchPage__optionsLeft{
        width: 70vw;
        transform: translateX(-10%); 
        justify-content: center;
    }
     .searchPage__option:nth-child(4) ,.searchPage__option:nth-child(5){
        display: none;
    }
    .searchPage__optionsRight{
        display: none;
    }
    .searchPage__results{
        width: 85vw;
        max-width: 90vw;
        margin-top: 2%;
        margin-left: 5%;
        margin-bottom: 100px;
        
    }
    .searchPage__result{
        border-bottom: 1px solid lightgray;
    }
    .searchPage__result p {
        margin-bottom: 10px;
    }

}
 
@media only screen and (max-width: 950px) {
    .corpus{
        display: block;
    }
    .searchPage__headerBody > .search {
        width: 50vw; 
   }
   .searchPage__option:nth-child(4) ,.searchPage__option:nth-child(5){
    display: none;
    }
    .searchPage__optionsRight{
    display: none;
    }
};

@media only screen and (max-width: 1000px) {
    .searchPage__options{
        transform: translateX(-30%)
    }
};
@media only screen and (min-width: 1000px) {
    .corpus{
        display: flex;
    }

}
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */ 